.mainDiv {
    height: 400px;
    background: rgba(229, 84, 115, 0.1);
    display: flex;
    margin-bottom: 100px;
}

.left {
    width: 50%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.leftChild {
    width: 60%;
}

.ha1 {
    font-size: 47px;
}

.btn {
    border-radius: 8px;
    background: rgb(229, 84, 115);
    padding: 12px 15px;
    border: none;
    color: white;
}

.right {
    width: 50%;

    display: flex;
    justify-content: center;
    align-items: end;

}

.right img {
    height: 90%;
}

/* Our Featured Flowers */
.feature {
    width: 45%;
    margin: auto;
    text-align: center;
    line-height: 25px;
}

/* flower card */
.mainCard{
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    gap: 20px;
}
.card1 {
    width: 280px;
    height: 320px;
    text-align: center;
}

.imgcard {
    background-color: #f2dee8;
     width: 280px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: end;
    border-radius: 50% 50% 0 0;
}
.image2{
    background-color:#daf0f1 ;
}
.image3{
    background-color:#e4ecdc ;
}
.image{
    width: 220px;
    height: 250px;
}
/* cartoon */
.cDiv{
    background-color: #f4f4f4;
    width: 66%;
    height: 220px;
    margin: 50px auto;
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.cBox{
    text-align: center;
}
.cBox img{
    width: 50px;
}
/* deal  */
.mainDeal{
    background-color: #fef6f8;
    width: 100%;
    height: 300px;
    display: flex ;
    justify-content: center;
}
.dl{
    width: 30%;
    display:flex ;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.off{
    color: #e65b79;
}
.dr{
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.dr img{
    width: 160px;
    border: 1px dashed #c4c3c3;
    padding: 5px;
}
/*  */
.pic{
    display: flex;
    gap: 20px;
    justify-content: center;
}
.pic img{
    width: 230px;
    height: 280px;
    object-fit: cover;
    border: 1px dashed #c4c3c3;
    transition: transform 1s;
}
.pic img:hover{
    transform: scale(1.02);
}
/* Get The Latest Deals */
.deals{
    width: 74%;
    height: 280px;
    border: 2px dashed #c4c3c3;
    margin: 50px auto;
    background-image: url("./image/2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.deals{
    text-align: center;
}
.sub input{
    padding: 10px;
    border-radius: 3px;
    border: none;
}
.put{
    width: 600px;
}
/* flower */
.fdiv{
    width: 50%;
    margin: auto;
    text-align: center;
    color: white;
    
}
footer{
    background-color: black;
    padding: 50px;
}